<% @jobs.each do |job| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= job.username %></h1>
    <i><%= job.work %></i><br /><br />
    <p><%= job.rate %></p><br />
    <p><%= job.contact %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

  <% end %>
